<html lang="en" >
    <head>
      <title>Remote Wake/Sleep-On-LAN</title>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="A utility for remotely waking/sleeping a Windows computer via a Raspberry Pi">
      <meta name="author" content="Carlo Maiorano">
      <link href="style/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="style/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        {{ with . }}
        <h4>Error: {{.Message}}</h4>
        {{ end }}
    <script src="style/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>