[Unit]
Description=Wol
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/<your-user>
ExecStart=/home/<your-user>/go/bin/golang-wol
Restart=always

[Install]
WantedBy=multi-user.target